.alertListItemContent {
  position: relative;
  overflow-x: hidden;
}

.alertListItemInnerContent {
  margin-left: 0px !important;
  padding-top: 18px;
}

.alertListItemTime {
  position: absolute;
  left: 80px;
  top: 6px;
  margin-top: 0;
  white-space: nowrap;
}
