[rp-finla-exchange-deposits] .LiquidAssetsPanel__row___bOVZJ6X td:nth-child(2) {
  width: 33%;
}

[rp-finla-exchange-deposits] .LiquidAssetsPanel__row___bOVZJ6X td:nth-child(3) {
  width: 33%;
}

[rp-finla-exchange-deposits] .LiquidAssetsPanel__row___bOVZJ6X td:nth-child(4) {
  width: 33%;
}
