.pb-hide-input {
  width: 64px;
  color: rgba(1, 1, 1, 0) !important;
  background-color: rgba(1, 1, 1, 0) !important;
  cursor: pointer !important;
  border: none !important;
}

.pb-hide-input::placeholder {
  color: rgba(1, 1, 1, 0) !important;
}

.pb-read-textarea {
  margin: 5px;
  resize: none;
  overflow-y: scroll;
  font-family: 'Droid Sans', sans-serif;
  font-size: 11px;
  line-height: 1.5;
  tab-size: 4;
  width: calc(100% - 10px);
  flex-grow: 1;
  background-color: #23282b;
  color: #bbbbbb;
  border-color: #2b485a;
  border-width: 1px;
  border-style: solid;
}

.pb-read-textarea:focus {
  outline: none;
}

.pb-read-textarea::-webkit-scrollbar {
  width: 0;
}

.pb-read-textarea::-moz-scrollbar {
  width: 0;
}

.pb-bold-success {
  color: #5cb85c;
  font-weight: bold;
}

.pb-bold-failure {
  color: #d9534f;
  font-weight: bold;
}

.pb-bold-warning {
  color: #f7a600;
  font-weight: bold;
}

.select {
  border: 0px;
  border-bottom: 1px solid #8d6411;
  background-color: #42361d;
  color: #bbb;
  outline: none;
}

.link {
  color: #3fa2de;
  cursor: pointer;
  display: block;
}

.link:hover {
  color: #f7a600 !important;
}
