.matchingRow::after {
  background-color: rgba(92, 184, 92, 0.175) !important;
}

.matchingCategory {
  background-color: rgba(92, 184, 92, 0.175);
}

.table {
  tbody tr:nth-child(2n+1) {
    position: relative;
  }

  tbody tr:nth-child(2n+1)::after {
    content: "";
    position: absolute;
    inset: 0px;
    pointer-events: none;
  }
}

.textInputElement {
  display: flex;
  align-items: center;
}