.sidebarContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contractsSection {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.contractsSectionContent {
  flex-grow: 1;

  > div {
    height: 100% !important;
  }
}
