.storeViewColumn {
  flex-direction: row;
  flex-wrap: wrap;
}

.storeViewContainer {
  padding-top: 2px;
}

.storeViewCentered {
  margin-right: 10px;
}

.capacityContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sortControls {
  padding-top: 2px;
  padding-bottom: 2px;
}
