.container {
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 12px;
  align-items: flex-end;
  justify-content: flex-start;
}

.miniBar {
  width: 25%;
  height: 4px;
  display: flex;
  margin: 0;
  border-bottom-width: 0;
  border-left-width: 0;
}

.fill {
  height: 100%;
}