.alertListItemContent {
  position: relative;
  overflow-x: hidden;
  min-height: 34.2px;
}

.alertListItemInnerContent {
  margin-left: 0px !important;
}

.alertListItemInnerContentBefore {
  content: '';
  display: block;
  float: left;
  height: 15px;
  width: calc(79.99px + max(calc(calc(100% - 280px) * -1000000),0px));
}

.alertListItemTime {
  position: absolute;
  margin-top: 0;
  white-space: nowrap;
  max-width: 70px;
  overflow: hidden;
  left: max(calc(80px - calc(calc(100% - min(100%,299.99px))) * 1000000),10px);
  top: max(calc(18px - calc(calc(100% - min(100%,35px))) * 1000000),6px);
}
