.inputMissingContainer {
  background-color: rgba(217, 83, 79, 0.1);
}

.orderRow {
  position: relative;
}

.orderRowOverlay {
  content: '';
  background-color: rgba(217, 83, 79, 0.1);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
