.filter {
  z-index: 1;
}

.scrollTrack {
  z-index: 2;
}

.head {
  > div:nth-child(2) {
    flex-shrink: 0;
  }
}

.subLabel {
  word-break: break-word;
}

.gridItem {
  background-color: unset;
}

.gridItemName {
  display: block;
  text-align: center;
  padding-top: 1px;
  width: 100%;
}

.disablePointerEvents {
  pointer-events: none;
}

.containerScrollbarGutter {
  scrollbar-gutter: auto;
}

.giftSearchResults {
  max-height: 190px;
}

.tooltipBottom {
  &:before {
    margin-top: 6px;
    margin-bottom: 0;
  }

  &:after {
    margin-top: -6px;
    border-top-color: transparent;
    border-bottom-width: 6px;
    border-bottom-color: #c48400;
  }
}

.centerText
{
  text-align: center;
}

.tooltipRight {
  &:before {
    margin-left: 6px;
    margin-right: 0;
  }

  &:after {
    margin-left: -6px;
    border-left-color: transparent;
    border-right-color: #c48400;
  }
}
