.filter {
  z-index: 1;
}

.scrollTrack {
  z-index: 2;
}

.head {
  > div:nth-child(2) {
    flex-shrink: 0;
  }
}

.subLabel {
  word-break: break-word;
}

.gridItem {
  background-color: unset;
  border: 1px solid rgba(63, 162, 222, 0);
}

.gridItemSelected {
  background-color: rgba(63, 162, 222, 0.15);
  border: 1px solid rgba(63, 162, 222, 0.5);
}

.gridItemName {
  display: block;
  text-align: center;
  padding-top: 1px;
  width: 100%;
}

.disablePointerEvents {
  pointer-events: none;
}

.containerScrollbarGutter {
  scrollbar-gutter: auto;
}

.giftSearchResults {
  max-height: 190px;
}

.hideTooltip {
  &:before {
    display: none !important;
    content: none !important;
  }
  &:after {
    display: none !important;
    content: none !important;
  }
}

.popoverTooltip {
  position: fixed;
  box-sizing: content-box;
  pointer-events: none;
  z-index: 1000;

  background-color: rgb(38, 38, 38);
  color: rgb(238, 238, 238);
  margin: 0;
  padding: 8px;
  font-size: 11px;
  font-weight: normal;
  line-height: 1.1;
  width: max-content;
  min-width: 10px;
  max-width: 200px;
  text-align: left;
  border-radius: 4px;
  border: 2px solid #c48400;

  --rp-tooltip-arrow-offset: 50%;
  overflow: visible;

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }

  &[data-rp-tooltip-side='bottom']::after {
    left: var(--rp-tooltip-arrow-offset);
    top: -10px;
    transform: translateX(-50%);

    border-width: 0 6px 8px 6px;
    border-color: transparent transparent #c48400 transparent;
  }

  &[data-rp-tooltip-side='top']::after {
    left: var(--rp-tooltip-arrow-offset);
    bottom: -10px;
    transform: translateX(-50%);

    border-width: 8px 6px 0 6px;
    border-color: #c48400 transparent transparent transparent;
  }

  &[data-rp-tooltip-side='right']::after {
    left: -10px;
    top: var(--rp-tooltip-arrow-offset);
    transform: translateY(-50%);

    border-width: 6px 8px 6px 0;
    border-color: transparent #c48400 transparent transparent;
  }

  &[data-rp-tooltip-side='left']::after {
    right: -10px;
    top: var(--rp-tooltip-arrow-offset);
    transform: translateY(-50%);

    border-width: 6px 0 6px 8px;
    border-color: transparent transparent transparent #c48400;
  }
}

.tooltipBottom {
  &:before {
    margin-top: 6px;
    margin-bottom: 0;
  }

  &:after {
    margin-top: -6px;
    border-top-color: transparent;
    border-bottom-width: 6px;
    border-bottom-color: #c48400;
  }
}

.centerText {
  text-align: center;
}

.tooltipRight {
  &:before {
    margin-left: 6px;
    margin-right: 0;
  }

  &:after {
    margin-left: -6px;
    border-left-color: transparent;
    border-right-color: #c48400;
  }
}

.rcSliderDotFixes {
  /* Fixes a bug(?) that stretches the dots weirdly. */
  transform: none !important;
  /* The dots aren't actually clickable (previously was 'pointer'). */
  cursor: inherit;
}

.rcSliderHandleFixes {
  /* This is a click-and-drag thing, not a button. */
  cursor: grab;

  .rc-slider-disabled {
    cursor: not-allowed;
  }
}

.rcSliderStepFixes {
  /* Previously no indication that you could click this. */
  cursor: pointer;

  .rc-slider-disabled {
    cursor: not-allowed;
  }
}

.noSelect {
  -webkit-user-select: none;
  user-select: none;
}
