[rp-pending-contracts-add-details]
.Sidebar__contract___J0gmlzN
.Link__link___fa4mmMA {
  display: none;
}

[rp-pending-contracts-add-details]
.Sidebar__contractId___Lg85TRZ {
  flex-shrink: 0;
  width: 65px;
  color: #3fa2de;
  cursor: pointer;
}

[rp-pending-contracts-add-details]
.Sidebar__contractId___Lg85TRZ:hover {
  color: #f7a600;
}
