.rprun-mat-element-large {
  height: 48px;
  width: 48px;
}

.rprun-mat-element-large div.ColoredIcon__container___djaR4r2 {
  height: 48px;
  width: 48px;
  font-size: 15.84px;
  cursor: pointer;
}

.rprun-mat-element-small {
  height: 32px;
  width: 32px;
}
