.pending-contracts-add-details__link {
  display: none;
}

.pending-contracts-add-details__contract-id {
  flex-shrink: 0;
  width: 65px;
  color: #3fa2de;
  cursor: pointer;
}

.pending-contracts-add-details__contract-id:hover {
  color: #f7a600;
}
